<nav class="navbar">
    <div class="navbar__container">
        <a class="navbar__container__img" routerLink="/main/home">
            <img src="assets/images/mini-logo.svg" alt="mini_logo">
        </a>
        <div class="navbar__container__text" *ngIf="screenWidth > 700">
            <a  routerLink="/main/home"
                routerLinkActive="active-link">INICIO</a>
            <a  routerLink="/main/champions"
                routerLinkActive="active-link">CAMPEONES</a>
            <a  routerLink="/main/rules"
                routerLinkActive="active-link">EXPLORAR</a>
        </div>
    
        <div class="navbar__container__icon" *ngIf="screenWidth < 700">
            <i class="material-icons" (click)="isOpenMenu = !isOpenMenu">menu</i>
        </div>
    
        <ul class="navbar__container__links" [ngClass]="{'translateX': isOpenMenu}">
            <li (click)="goTo('home')">
                <p [class.active-link]="router.url === '/main/home'">INICIO</p>
            </li>
    
            <li (click)="goTo('champions')">
                <p [class.active-link]="router.url === '/main/champions'">CAMPEONES</p>
            </li>
    
            <li (click)="goTo('rules')">
                <p [class.active-link]="router.url === '/main/rules'">EXPLORAR</p>
            </li>
    
        </ul>
    </div>
</nav>