<section>
    <app-loading [animationVar]="loading()"></app-loading>
  </section>

<section class="findChamps">
    <div class="findChamps__title">
        <h1>ENCUENTRA TU CAMPEÓN</h1>
        <h4>Puedes ver la información del campeón que mas te guste, puedes filtrar por nombre, por rol o por dificultad de uso</h4>
    </div>
    <div class="findChamps__body">
        <div class="findChamps__body__navbar">
            <div class="findChamps__body__navbar__search">
                <div class="findChamps__body__navbar__search__button">
                    <div class="search-input">
                        <input
                            autocomplete="off"
                            type="text"
                            placeholder="BUSCAR"
                            [formControl]="championsSearcherControl"
                            (focus)="activeFocusSearcherInput.set(true)"
                            (blur)="blurSearcher()"
                            id="searcherInput">
                        <label class="material-icons icon-asset" for="searcherInput">search</label>
                        <i class="material-icons icon-asset" (click)="cleanChipFilter('nombre')" *ngIf="championsSearcherControl.value.length > 0">close</i>
                    </div>
                </div>
                <div class="findChamps__body__navbar__search__dropdown" [ngClass]="{'fadeIn': activeFocusSearcherInput()}">
                    <ul>
                        @for (champion of championsNameFiltered(); track $index) {
                            <li (click)="filterChampionByName(champion.id)"> {{champion.name}} </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="findChamps__body__navbar__filters">
                <ul class="findChamps__body__navbar__filters__lists">
                    <li class="findChamps__body__navbar__filters__lists__item">
                        <input type="radio" name="rols" id="assassinsFilter" [formControl]="championsRolesControl" value="assassin">
                        <label for="assassinsFilter">
                            <span>ASESINOS</span>
                        </label>
                    </li>
                    <li class="findChamps__body__navbar__filters__lists__item">
                        <input type="radio" name="rols" id="supportsFilter" [formControl]="championsRolesControl" value="support">
                        <label for="supportsFilter">
                            <span>APOYOS</span>
                        </label>
                    </li>
                    <li class="findChamps__body__navbar__filters__lists__item">
                        <input type="radio" name="rols" id="fightersFilter" [formControl]="championsRolesControl" value="fighter">
                        <label for="fightersFilter">
                            <span>LUCHADORES</span>
                        </label>
                    </li>
                    <li class="findChamps__body__navbar__filters__lists__item">
                        <input type="radio" name="rols" id="magesFilter" [formControl]="championsRolesControl" value="mage">
                        <label for="magesFilter">
                            <span>MAGOS</span>
                        </label>
                    </li>
                    <li class="findChamps__body__navbar__filters__lists__item">
                        <input type="radio" name="rols" id="tanksFilter" [formControl]="championsRolesControl" value="tank">
                        <label for="tanksFilter">
                            <span>TANQUES</span>
                        </label>
                    </li>
                    <li class="findChamps__body__navbar__filters__lists__item">
                        <input type="radio" name="rols" id="marksmen" [formControl]="championsRolesControl" value="marksman">
                        <label for="marksmen">
                            <span>TIRADORES</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="findChamps__body__navbar__levels">
                <input
                    type="checkbox"
                    placeholder="TODAS LAS DIFICULTADES"
                    id="levels"
                    (blur)="blurDifficulty()"
                    (click)="levelsControl.setValue(!levelsControl.value)"
                >
                <label *ngIf="difficultChamp() === 0"  for="levels">TODAS LAS DIFICULTADES </label>
                <label *ngIf="difficultChamp() !== 0" for="levels">
                    DIFICULTAD: {{difficultChamp()}}
                </label>
                <div class="findChamps__body__navbar__levels__icons">
                    <i class="material-icons icon-asset" *ngIf="!levelsControl.value"> keyboard_arrow_down</i>
                    <i class="material-icons icon-asset" *ngIf="levelsControl.value"> keyboard_arrow_up</i>
                </div>
                <div class="findChamps__body__navbar__levels__container" [ngClass]="{'fadeIn': levelsControl.value}">
                    @for (level of difficulty(); track i; let i = $index) {
                        <div 
                            class="findChamps__body__navbar__levels__container__group"
                            (click)="filterChampionByDifficulty(level)"
                            [ngClass]="{'bg-gray': level === difficultChamp()}">
                            @for (item of difficulty(); track j; let j = $index) {
                                <div 
                                    class="findChamps__body__navbar__levels__container__group__item"
                                    [ngClass]="{'bg-blue': j <= i}">
                                </div>
                            }
                        </div>
                    }
                </div>

            </div>
        </div>

        @if (filters().length > 0) {
            <div class="findChamps__body__chips">
                <div class="findChamps__body__chips__filters">
                    <h3 class="findChamps__body__chips__filters__title">Filtros:</h3>
                    <div class="findChamps__body__chips__filters__button">
                        <button
                            app-button
                            size="btn--normal"
                            type="btn--secondary"
                            (click)="cleanFilters()"
                        >
                            {{(filters().length <= 1) ? 'Limpiar filtro' : 'Limpiar filtros'}}
                        </button>
                    </div>
                </div>
                @for (filter of filters(); track $index) {
                    <div class="findChamps__body__chips__chip">
                        <span >{{filter.field}}: {{filter.value}}</span>
                        <i class="material-icons icon-asset" (click)="cleanChipFilter(filter.field)">close</i>
                    </div>
                }
    
            </div>
        }

        <div class="findChamps__body__cards">
            @if (championsCardsFilter().length > 0) {
                <div class="findChamps__body__cards__container">
                    @for (championCard of championsCardsFilter(); track $index) {
                        <div class="findChamps__body__cards__container__card">
                            <app-card [championCard]="championCard"></app-card>
                        </div>
                    }
                </div>
            }

            @if(championsCardsFilter().length === 0) {
                <div class="findChamps__body__cards__error">
                    <div class="findChamps__body__cards__error__title">
                        <h3>No hay campeones que cumplan con el criterio de filtro</h3>
                        <h4>Campeones que te puedan interesar:</h4>
                    </div>
                    
                    @for (championCard of randomChampionsCard(); track $index) {
                        <div class="findChamps__body__cards__error__card">
                            <app-card [championCard]="championCard"></app-card>
                        </div>
                    }
                    <div class="findChamps__body__cards__error__button">
                        <button
                            app-button
                            size="btn--normal"
                            type="btn--primary"
                            (click)="pushingRandomChampions()"
                        >
                            Más campeones
                        </button>
                    
                    </div>
                </div>
            }
        </div>
    </div>
</section>


