.findChamps {
    display: grid;
    width: 100%;
    grid-template-columns:  [space-left-start] calc(((100%) - (100% / 1.1707)) / 2) [space-left-end content-start] calc(100% / 1.1707)
                            [content-end space-right-start] calc(((100%) - (100% / 1.1707)) / 2) [space-right-end];
    grid-template-rows: repeat(2, auto);
    padding: 14rem 0;

    &__title {
        text-align: center;
        grid-row: 1 / 2;
        grid-column: content-start / content-end;
        margin-bottom: 6rem;
        color: #4C59AD;

        h4 {
            width: 50%;
            margin: 0 auto;
        }
    }

    &__body {
        grid-row: 2 / 3;
        grid-column: content-start / content-end;

        &__navbar {
            color: #4C59AD;
            font-size: 1.6rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            & > * {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                height: 6rem;
            }

            &__search {
                width: 20%;
                border: 1px solid #e6e6e6;
                position: relative;

                &__button {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    position: relative;
                    cursor: pointer;
                    width: 100%;
                }
                &__dropdown {
                    position: absolute;
                    top: 102%;
                    left: -.1rem;
                    height: auto;
                    max-height: 50rem;
                    width: 101%;
                    box-shadow: .2rem .2rem .6rem #e6e6e6;
                    overflow-y: scroll;
                    text-transform: uppercase;
                    background-color: #fff;

                    & ul {
                        & li {
                            padding: 1rem 0;
                            padding-left: 2rem;
                            cursor: pointer;
                            transition: all .3s ease;
                        }

                        & li:hover {
                            background-color: #e6e6e6;
                        }
                    }
                }
            }

            &__filters {
                width: 60%;
                border-top: 1px solid #e6e6e6;
                border-bottom: 1px solid #e6e6e6;

                &__lists {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    color: #4C59AD;
                    list-style: none;
                    width: 100%;
                    height: 100%;

                    &__item {
                        height: 100%;

                        & input[type=radio] {
                            display: none;
                        };
                        & input[type="radio"]:checked + label:before {
                            transform: scale(1, 1);

                        }

                        & label {
                            margin: 0 auto;
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            position: relative;
                            cursor: pointer;
                            padding: 0 1rem;

                            &:before {
                                content: '';
                                height: 2px;
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                background-color: #4C59AD;
                                transform: scale(0);
                                transition: all .3s ease;

                            }

                            &:hover::before {
                                transform: scale(.2, 1);
                            }


                        }

                    }
                }
            }

            &__levels {
                width: 20%;
                border: 1px solid #e6e6e6;
                position: relative;

                & input[type=checkbox] {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }

                & input[type=checkbox]:checked + label i {
                    transform: translateX(.5rem);
                }

                & label {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    width: 85%;
                    cursor: pointer;

                    i {
                        transition: all .3s ease;
                    }
                }
               
                & label:hover i {
                    
                    transform: translateX(.5rem);
                }

                &__container {
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    box-shadow: .2rem .2rem .6rem #e6e6e6;
                    &__group {
                        height: 40px;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        transition: all .3s ease;
                        cursor: pointer;

                        &:hover {
                            background-color: #e6e6e6;
                        }

                        &__item {
                            width: 8%;
                            height: 20px;
                            background-color: #C0C0C0;
                            margin-left: 1%;
                        }
                    }

                }

            }

        }
    }


}

.search-input {
    width: 100%;
    cursor: pointer;
    position: relative;
    & label {
        // margin-right: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4.5rem;
        cursor: pointer;
        font-size: 3.2rem;
        transition: .3s all ease-out;

    }

    & i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4rem;
        font-size: 3.2rem;
        cursor: pointer;
    }

    & input[type=text] {
       border: none;
       color: #4C59AD;
       width: 100%;
    //    padding-left: 4rem;
    //    padding-right: 4rem;
       padding: 2rem 8rem;
       font-size: 16px;
       text-transform: uppercase;
       cursor: pointer;

    }

    & input[type=text]::placeholder {
        color: #4C59AD;
    }

    & input[type=text]:focus {
       outline: unset;

    }

    & input[type=text]:focus::placeholder {
       color: rgba(76, 89, 173, .5);
    }

    & input[type=text]:hover + label,
    & input[type=text]:focus + label {
        left: 4rem;
    }

}



.bg-blue {
    background-color: #4C59AD;
}
