@import 'variables';
@import 'animations';
@import 'mixins';


.findChamps {
    @include css-grid;

    &__title {
        text-align: center;
        grid-row: 1 / 2;
        grid-column: content-start / content-end;
        margin-bottom: 6rem;
        color: $c-primary-light;

        h4 {
            width: 50%;
            margin: 0 auto;
        }
    }

    &__body {
        grid-row: 2 / 3;
        grid-column: content-start / content-end;

        &__navbar {
            color: $c-primary-light;
            font-size: 1.6rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 6rem;

            & > * {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                height: 6rem;
            }

            &__search {
                width: 20%;
                border: 1px solid $c-gray;
                position: relative;

                &__button {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    position: relative;
                    cursor: pointer;
                    width: 100%;
                }
                &__dropdown {
                    position: absolute;
                    top: 102%;
                    left: -.1rem;
                    height: auto;
                    max-height: 30rem;
                    width: 101%;
                    box-shadow: .1rem .1rem .3rem $c-gray-dark;
                    overflow-y: scroll;
                    text-transform: uppercase;
                    background-color: $c-light;
                    z-index: -12;
                    opacity: 0;
                    transition: all .3s ease;

                    & ul {
                        & li {
                            padding: 1rem 0;
                            padding-left: 2rem;
                            cursor: pointer;
                            transition: all .3s ease;
                        }

                        & li:hover {
                            background-color: $c-gray;
                        }
                    }
                }
            }

            &__filters {
                width: 60%;
                border-top: 1px solid $c-gray;
                border-bottom: 1px solid $c-gray;

                &__lists {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    color: $c-primary-light;
                    list-style: none;
                    width: 100%;
                    // height: 100%;

                    &__item {
                        height: 6rem;

                        & input[type=radio] {
                            display: none;
                        };
                        & input[type="radio"]:checked + label:before {
                            transform: scale(1, 1);

                        }

                        & label {
                            margin: 0 auto;
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            position: relative;
                            cursor: pointer;
                            padding: 0 1rem;

                            &:before {
                                content: '';
                                height: 2px;
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                background-color: $c-primary-light;
                                transform: scale(0);
                                transition: all .3s ease;

                            }

                            &:hover::before {
                                transform: scale(.2, 1);
                            }


                        }

                    }
                }
            }

            &__levels {
                width: 20%;
                border: 1px solid $c-gray;
                position: relative;

                & input[type=checkbox] {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }

                & input[type=checkbox]:checked + div i,
                & input[type=checkbox]:hover + div i {
                    transform: translateX(.5rem);
                }

                & label {
                    display: flex;
                    flex-wrap: wrap;
                    // justify-content: space-around;
                    padding-left: 1.8rem;
                    align-items: center;
                    width: 85%;
                    cursor: pointer;
                    // & i {
                    //     font-size: 3.2rem;
                    //     z-index: 100;
                    // }
                
                }

                &__icons {
                    width: 15%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 2rem;
                    i {
                        transition: all .3s ease;
                    }
                }


                &__container {
                    width: 100%;
                    position: absolute;
                    background-color: $c-light;
                    top: 100%;
                    left: 0;
                    box-shadow: .1rem .1rem .3rem $c-gray-dark;
                    z-index: -10;
                    opacity: 0;
                    transition: all .3s ease;


                    &__group {
                        padding: 4%;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        transition: all .3s ease;
                        cursor: pointer;

                        &:hover {
                            background-color: $c-gray;
                        }

                        &__item {
                            width: 8%;
                            height: 1.5rem;
                            background-color: $c-gray-dark;
                            margin-left: 1%;
                        }
                    }

                }

            }

        }

        &__chips {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 6rem;

            &__filters {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;
                &__title {
                    color:$c-primary-light;
                    margin-right: 2rem;
                    text-transform: uppercase;
                }

            }

            &__chip {
                display: flex;
                align-items: center;
                border-radius: 2rem;
                padding: 1rem 1.5rem;
                background-color: $c-primary;
                margin-right: 2rem;
                font-size: 1.6rem;
                color: $c-light;
                text-transform: uppercase;

                & i {
                    margin-left: 1.6rem;
                    cursor: pointer;
                }
            }


        }

        &__cards {
            width: 100%;

            
            &__container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content:start;
            }

            &__card {
                width: 12.5%;
                margin-bottom: 2rem;
            }

            &__card, &__error__card {

                border: 1px solid $c-light;
                opacity: 0;
                cursor: pointer;
                transition: all .3s ease;
                animation-name: appear;
                animation-duration: .3s;
                animation-fill-mode: forwards;

                &:hover &__img {
                    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%, 0 0);

                }
                
                &:hover img {
                    transform: scale(1.2);
                }

                &:hover figcaption {
                    transform: translateX(1rem);
                    color: $c-light;
                }
                
                &__img {
                    overflow: hidden;
                    clip-path: polygon(90% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
                    transition: all .3s ease;
                    position: relative;
                    padding-top: 150%;

                    & img {
                        width: 100%;
                        height: 100%;
                        transform: scale(1.1);
                        vertical-align: top;
                        transition: all .3s ease;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                &__figcaption {
                    width: 100%;
                    background-color: $c-primary;
                    color: $c-gray;
                    padding: 1rem;
                    text-transform: uppercase;
                    font-size: 1.6rem;

                    & figcaption {
                        transition: all .3s ease;
                    }
                }
            }

            &__error {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                &__title {
                    width: 100%;
                    color: $c-primary-light;
                    margin-bottom: 3rem;

                    & h3 {
                        margin-bottom: 1.6rem;
                    }

                }
                &__card {
                    margin-bottom: 3rem;
                }
                &__card, &__button {
                    width: 21%;
                }

            }
        }
    }


}

.search-input {
    width: 100%;
    cursor: pointer;
    position: relative;
    & label {
        // margin-right: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
        cursor: pointer;
        font-size: 3.2rem;
        transition: .3s all ease-out;

    }

    & i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
        font-size: 3.2rem;
        cursor: pointer;
    }

    & input[type=text] {
       border: none;
       color: $c-primary-light;
       width: 100%;
    //    padding-left: 4rem;
    //    padding-right: 4rem;
       padding: 2rem 6rem;
       font-size: 16px;
       text-transform: uppercase;
       cursor: pointer;

    }

    & input[type=text]::placeholder {
        color: $c-primary-light;
    }

    & input[type=text]:focus {
       outline: unset;

    }

    & input[type=text]:focus::placeholder {
       color: rgba(76, 89, 173, .5);
    }

    & input[type=text]:hover + label,
    & input[type=text]:focus + label {
        left: 1rem;
    }

}


// HELPERS
.bg-blue {
    background-color: $c-primary;
    // background-color: $c-primary-light;

}

.bg-gray {
    // background-color: $c-primary !important;
    background-color: $c-primary-light !important;
}

.fadeIn {
    opacity: 1;
    z-index: 10;
}

.mb-20 {
    margin-bottom: 20px;
}



@media screen and (max-width: 1300px) {
    .findChamps {
        &__title {
            h4 {
                width: 70%;
            }
        }
        &__body {
            &__navbar {
                &__search {
                    width: 50%;
                }

                &__filters {
                    width: 100%;
                    order: -1;
                    border: 1px solid $c-gray;
                }

                &__levels {
                    width: 50%;
                }
            }
            &__cards {
                &__card {
                    width: 20%;
                }

                &__error {
                    &__button {
                        width: 50%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .findChamps {
        &__title {
            h4 {
                width: 95%;
            }
        }
        &__body {
            &__cards {
                &__card {
                    width: 25%;

                    & figcaption{
                        font-size: 1.4rem;
                    }
                }
            }

            &__chips {
                justify-content: space-between;
                margin-bottom: 4rem;
                &__chip {
                    width: 45%;
                    justify-content: space-between;
                    margin-right: 0;
                    margin-bottom: 1rem;
                    font-size: 1.4rem;
                }
            }

        }
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 4.8rem;
        margin-bottom: 2rem;
    }
    h4 {
        font-size: 1.6rem;
    }

    .findChamps {
        &__title {
            & h4 {
                width: 100%;
            }
        }
        &__body {

            &__navbar {
                &__filters {
                height: auto !important;

                    &__lists {
                        justify-content: space-evenly;
                    }
                }

                &__search {
                    width: 100%;
                }

                &__levels {
                    width: 100%;
                }
            }
            &__cards {
                &__card {
                    width: 50%;

                }

                &__error {
                    &__card {
                        width: 50%;
                    }

                    &__button {
                        width: 100%;
                    }
                }
            }

            &__chips {
                &__chip {
                    width: 49%;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }


    .findChamps {
        &__body {

            &__navbar {

            }
            &__chips {

                &__chip {
                    width: 100%;
                    font-size: 1.4rem;
                }
            }
            
        }
    }
}