<section>
    <app-loading [animationVar]="loading()"></app-loading>
  </section>

<section class="findChamps">
    <div class="findChamps__title">
        <h1>ENCUENTRA TU CAMPEÓN</h1>
        <h4>Puedes ver la información del campeón que mas te guste, puedes filtrar por nombre, por rol o por dificultad de uso</h4>
    </div>
    <div class="findChamps__body">
        <app-champion-filter
            [championsData]="championsCards()"
            (championCardFilterEmitter)="championsCardsFilter.set($event)"
            (filtersEmitter)="filters.set($event)"
        />

        @if (filters().length > 0) {
            <div class="findChamps__body__chips">
                <div class="findChamps__body__chips__filters">
                    <h3 class="findChamps__body__chips__filters__title">Filtros:</h3>
                    <div class="findChamps__body__chips__filters__button">
                        <button
                            app-button
                            size="btn--normal"
                            type="btn--secondary"
                            (click)="cleanFilters()"
                        >
                            {{(filters().length <= 1) ? 'Limpiar filtro' : 'Limpiar filtros'}}
                        </button>
                    </div>
                </div>
                @for (filter of filters(); track $index) {
                    <div class="findChamps__body__chips__chip">
                        <span >{{filter.field}}: {{filter.value}}</span>
                        <i class="material-icons icon-asset" (click)="cleanChipFilter(filter.field)">close</i>
                    </div>
                }
            </div>
        }
        
        <div class="findChamps__body__cards">
            @if (championsCardsFilter().length > 0) {
                <div class="findChamps__body__cards__container">
                    @for (championCard of championsCardsFilter(); track $index) {
                        <div class="findChamps__body__cards__container__card">
                            <app-card [championCard]="championCard"></app-card>
                        </div>
                    }
                </div>
            }

            @if(championsCardsFilter().length === 0) {
                <div class="findChamps__body__cards__error">
                    <div class="findChamps__body__cards__error__title">
                        <h3>No hay campeones que cumplan con el criterio de filtro</h3>
                        <h4>Campeones que te puedan interesar:</h4>
                    </div>
                    
                    @for (championCard of randomChampionsCard(); track $index) {
                        <div class="findChamps__body__cards__error__card">
                            <app-card [championCard]="championCard"></app-card>
                        </div>
                    }
                    <div class="findChamps__body__cards__error__button">
                        <button
                            app-button
                            size="btn--normal"
                            type="btn--primary"
                            (click)="pushingRandomChampions()"
                        >
                            Más campeones
                        </button>
                    
                    </div>
                </div>
            }
        </div>
    </div>
</section>


