
@mixin  css-grid ($padding: 8rem 0 8rem 0) {
    display: grid;
    width: 100%;
    grid-template-columns:  [space-left-start] calc(((100%) - (100% / 1.1707)) / 2) [space-left-end content-start] calc(100% / 1.1707)
                            [content-end space-right-start] calc(((100%) - (100% / 1.1707)) / 2) [space-right-end];
    grid-template-rows: repeat(2, auto);
    padding: $padding;
}



