@import 'variables';
@import 'animations';
@import 'mixins';


.main {
    position: relative;
    height: calc(100vh - 8rem);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $c-dark;
        opacity: 0;
        z-index: 1;
        animation-name: opacity;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    & video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        & img {
            width: 70%;
            margin-bottom: 4rem;
            opacity: 0;
            animation-name: goingUp;
            animation-delay: .5s;
            animation-duration: .5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;

        }

        & div {
            width: 50%;
            opacity: 0;
            margin: 0 auto;
            animation-name: goingUp;
            animation-delay: 1s;
            animation-duration: .5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    }
}



.findRol {
    // display: grid;
    // width: 100%;
    // grid-template-columns:  [space-left-start] calc(((100%) - (100% / 1.1707)) / 2) [space-left-end content-start] calc(100% / 1.1707)
    //                         [content-end space-right-start] calc(((100%) - (100% / 1.1707)) / 2) [space-right-end];
    // grid-template-rows: repeat(2, auto);
    // padding: 8rem 0;
    @include css-grid;
    
    &__title {
        text-align: center;
        grid-row: 1 / 2;
        grid-column: content-start / content-end;
        margin-bottom: 6rem;

        h1 {
            color: $c-primary-light;
        }
    }

    & .content {
        grid-column: content-start / content-end;
        grid-row: 2 / 3;

        display: flex;
        flex-wrap: wrap;
    }

    &__rolesBox {
        width: 28%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        & input {
            display: none;
        }
        & input[type="radio"]:checked + &__item {
            svg {
                transition: all .3s ease;
                fill: $c-primary-light;
            }
            h3 {
                transition: all .3s ease;
                color: $c-primary-light;
            }
        }
        &__item {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 45px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                background-color: rgba(192, 192, 192, .5);
            }

            svg {
                margin-right: 4rem;
                width: 7.4rem;
                fill: $c-gray-darker;
            }

            h3 {
                color: $c-gray-darker;
            }
        }

        &__button {
            width: 100%
        }
    };

    &__mid {
        width: 22%;
        height: 100%;
        border-left: 1px solid $c-gray-darker;

        &__up {
            height: 50%;
            width: 100%;
            border-bottom: 1px solid $c-gray-darker;
        }

    }

    &__illus {
        width: 50%;
        overflow: hidden;
        position: relative;

        &__circle {
            width: 100%;
            padding-top: 100%;
            border: 1px solid $c-gray-darker;
            border-radius: 50%;
            z-index: 999;
            background-color: transparent;
            position: relative;
          
            
            & img {
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &__text {
                position: absolute;
                top: 2%;
                left: 50%;
                transform: translateX(-50%);
                color: $c-primary-light;
                text-align: center;
                
                &--name {
                    font-size: 32px;
                    font-weight: bold;
                }

                &--nickname {
                    font-size: 24px;
                }
            }

            &--animation {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                z-index: 999;
                background: linear-gradient($c-primary 20%, $c-light 20% 40%, $c-primary 40% 60%, $c-light 60% 80%, $c-primary 80%);
                z-index: -1;
                animation: rotate 6s linear infinite;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                & div {
                    width: 99%;
                    height: 99%;
                    background-color: $c-light;
                    border-radius: 50%;
                }
            }
        }

    }

}


.legendsLand {
    // display: grid;
    // width: 100%;
    // grid-template-columns:  [space-left-start] calc(((100%) - (100% / 1.1707)) / 2) [space-left-end content-start] calc(100% / 1.1707)
    //                         [content-end space-right-start] calc(((100%) - (100% / 1.1707)) / 2) [space-right-end];
    // grid-template-rows: repeat(2, auto);
    // padding-top: 8rem;
    // padding-bottom: 5rem;
    @include css-grid(8rem 0 5rem 0);
    background-color: $c-dark;
    
    &__title {
        text-align: center;
        grid-row: 1 / 2;
        grid-column: content-start / content-end;

        h1 {
            color: $c-light;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-row: 2 / 3;
        grid-column: content-start / content-end;

        &__img {
            width: 70%;

            & img {
                width: 120%;
                vertical-align: top;
                transform: translateX(-200px);
            }
        }

        &__content {
            width: 30%;
            z-index: 1;
            color: $c-light;
            margin-top: 20rem;
            
            & h2 {
                margin-bottom: 3.2rem;
            }
            & p {
                font-size: 2.4rem;
                margin-bottom: 3.2rem;
            }

            & p:nth-child(3) {
                margin-bottom: 5rem
            }
        }
    }
};
// HELPERS
.default-selected-svg {
    fill: $c-primary-light;
}

.default-selected-color {
    color: $c-primary-light;
}

.w-95p {
    width: 95%;
}