@import 'variables';
@import 'animations';
@import 'mixins';


.main {
    position: relative;
    height: calc(100vh - 8rem);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $c-dark;
        opacity: 0;
        z-index: 1;
        animation-name: opacity;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    & video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        & img {
            width: 70%;
            margin-bottom: 4rem;
            opacity: 0;
            animation-name: goingUp;
            animation-delay: .5s;
            animation-duration: .5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;

        }

        & div {
            width: 50%;
            opacity: 0;
            margin: 0 auto;
            animation-name: goingUp;
            animation-delay: 1s;
            animation-duration: .5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    }
}



.findRol {

    @include css-grid;
    
    &__title {
        text-align: center;
        grid-row: 1 / 2;
        grid-column: content-start / content-end;
        margin-bottom: 6rem;

        h1 {
            color: $c-primary-light;
        }
    }

    & .content {
        grid-column: content-start / content-end;
        grid-row: 2 / 3;

        display: flex;
        flex-wrap: wrap;
    }

    &__rolesBox {
        width: 28%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;

        &__imgs {
            & input {
                display: none;
            }
            & input[type="radio"]:checked + &__item {
                svg {
                    transition: all .3s ease;
                    fill: $c-primary-light;
                }
                h3 {
                    transition: all .3s ease;
                    color: $c-primary-light;
                }
            }
            &__item {
                padding-top: 2rem;
                padding-bottom: 2rem;
                padding-left: 4.5rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                transition: all .3s ease;
                cursor: pointer;
    
                &:hover {
                    background-color: rgba(192, 192, 192, .5);
                }
    
                svg {
                    margin-right: 4rem;
                    width: 7.4rem;
                    fill: $c-gray-darker;
                }
    
                h3 {
                    color: $c-gray-darker;
                }
            }   
        }

        &__button {
            width: 100%
        }
    };

    &__mid {
        width: 12%;
        height: 100%;
        border-left: 1px solid $c-gray-darker;

        &__up {
            height: 50%;
            width: 100%;
            border-bottom: 1px solid $c-gray-darker;
        }

    }

    &__illus {
        width: 60%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        & div:first-child {
            width: 100%;
        }

        &__circle {
            width: 100%;
            padding-top: 100%;
            border: 1px solid $c-gray-darker;
            border-radius: 50%;
            z-index: 999;
            background-color: transparent;
            position: relative;
          
            
            & img {
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &__text {
                position: absolute;
                top: 2%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                color: $c-primary-light;
                text-align: center;

                &__nickname {
                    font-size: 2.4rem;
                }
            }

            &--animation {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                z-index: 999;
                background: linear-gradient($c-primary 20%, $c-light 20% 40%, $c-primary 40% 60%, $c-light 60% 80%, $c-primary 80%);
                z-index: -1;
                animation: rotate 6s linear infinite;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                & div {
                    width: 99%;
                    height: 99%;
                    background-color: $c-light;
                    border-radius: 50%;
                }
            }
        }

    }

}


.legendsLand {
    @include css-grid(8rem 0 5rem 0);
    background-color: $c-dark;
    
    &__title {
        text-align: center;
        grid-row: 1 / 2;
        grid-column: content-start / content-end;

        h1 {
            color: $c-light;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        grid-row: 2 / 3;
        grid-column: content-start / content-end;

        &__img {
            width: 70%;

            & img {
                width: 120%;
                vertical-align: top;
                transform: translateX(-200px);
            }
        }

        &__content {
            width: 30%;
            z-index: 1;
            color: $c-light;
            margin-top: 10rem;
            
            & h2 {
                margin-bottom: 3.2rem;
            }
            & p {
                font-size: 2.4rem;
                margin-bottom: 3.2rem;
            }

            & p:nth-child(3) {
                margin-bottom: 5rem
            }
        }
    }
};
// HELPERS
.default-selected-svg {
    fill: $c-primary-light;
}

.default-selected-color {
    color: $c-primary-light;
}

.w-95p {
    width: 95%;
}

@media screen and (max-width: 1400px) {
    .findRol {
        &__rolesBox {
            &__imgs {
                &__item {
                    padding-left: 2rem;
                }
    
                svg {
                    margin-right: 2rem;
                }
            }
        }
    }

    .legendsLand {
        &__body {
            &__img {
                width: 60%;
                img {
                    transform: translateX(-100px);
                }
            }
            &__content {
                margin-top: 5rem;
                width: 40%;
            }
        }

    }
}

@media screen and (max-width: 1200px) {
    .main {
        &__center {
            & img {
                width: 100%;

    
            }
    
            & div {
                width: 80%;
            }
        }
    }
    .findRol {
        &__rolesBox {
            &__imgs {

                &__item {
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
    
                    svg {
                        width: 4.4rem;
                    }
    
                    h3 {
                        font-size: 2.4rem;
                    }
                }
            }

            &__button {
                & app-button {
                    & button {
                        font-size: 1.6rem !important;
                    }
                }
            }
        }
    }

    .legendsLand {
        &__body {
            &__img {
                img {
                    transform: translateX(-50px);
                }
            }

            &__content {
                & h2 {
                    font-size: 3.2rem;
                }
                & p {
                    font-size: 1.6rem;
                }
            }
            
        }

    }
}

@media screen and (max-width: 1040px) {
    .findRol {
        &__rolesBox {
            &__imgs {

                &__item {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    margin-bottom: 2rem;

                    &__svg {
                        width: 3rem;
                    }
        
                    & h3 {
                        font-size: 2rem;
                    }
                }

            }
        }
    }

    .findRol__illus {

        &__circle {

            &__text {
                top: -3%;
            }
        }
    }
}

@media screen and (max-width: 925px) {
    .main {
        &__center {
            width: 70%;

        }
    }
    .findRol {
        & .content {
            flex-direction: column;
            align-items: center;
        }

        &__rolesBox {
            width: 100%;
            margin-bottom: 4rem;

            &__imgs {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                &__item {
                    flex-direction: column;
                    align-items: center;
                    padding: 0 1rem;

                    & svg {
                        margin-right: unset;
                    }
                }
            }

            &__button {
                width: 60%;
                margin: 0 auto;
            }
        }

        &__mid {
            display: none;
        }

        &__illus {
            width: 80%;
            margin-top: 12%;

            & div:first-child {
                width: 100%;
            }

            &__circle {
                &__text {
                    top: -15%;
                }
            }
        }
    }

    .legendsLand {
        &__body {
            flex-wrap: wrap;
            &__img {
                width: 100%;
                & img {
                    width: 100%;
                    transform: translateX(0);
                }
            }

            &__content {
                width: 100%;

                & p {
                    font-size: 2.4rem;
                }

                &__button {
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 625px) {
    h1 {
        font-size: 4.8rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    .main {
        &__center {
            width: 80%;

        }
    }
    .findRol {
        &__rolesBox {

            &__button {
                width: 80%;
            }
        }
    }

    .legendsLand {
        &__body {
            &__content {
                & p {
                    font-size: 2rem;
                }

                &__button {
                    width: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 4rem;
    }
    .main {
        &__center {
            width: 100%;
            & img {
                width: 80%;
            }
        }
    }
    .findRol {

        &__rolesBox {
            &__imgs {
                &__item {
                    width: 50%;
                }
            }
            &__button {
                width: 100%;
            }
        }
        &__illus {
            &__circle {
                &__text {
                    top: -20%;
                    & h3 {
                        font-size: 2rem;
                    }

                    & p {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    .legendsLand {
        &__body {
            &__content {
                &__button {
                    width: 100%;
                }
            }
        }
    }

}

@media screen and (max-height: 450px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 2rem;
    }

    .main {
        &__center {
            width: 50%;

            & img {
                margin-bottom: 0;
            }

            &__button {
                
            }
        }
    }

}