<section>
    <app-loading [animationVar]="loading()"></app-loading>
</section>
<!-- MAIN HOME SCREEN -->
<main class="main">
    <video #homeVideo loop>
        <source [src]="videoPath()" type="video/mp4">
    </video>
    <div class="main__center">
        <img src="assets/images/main-logo.png" alt="main_logo">
        <div class="main__center__button">
            <app-button
                (click)="goTo('champions')"
                text="ENCUENTRA TU CAMPEÓN"
                size="btn--normal"
                type="btn--primary">
            </app-button>
        </div>
    </div>
</main>
<!-- END MAIN HOME SCREEN -->
<!-- FIND YOUR ROL SCREEN -->
<section class="findRol">
    <div class="findRol__title" #findYourRol appTitleAppears>
        <h1>ENCUENTRA TU ROL</h1>
    </div>
    <div class="content">
        <div class="findRol__rolesBox">
            <div class="findRol__rolesBox__imgs">
                @for(role of rolesArray(); track role.roleName) {
                    <app-role-box [role]="role" [value]="role.roleName" [formControl]="rolSelectionControl"/>
                }
            </div>

            <div class="findRol__rolesBox__button">
                <app-button
                    (click)="goTo('champions')"
                    text="ENCUENTRA TU CAMPEÓN"
                    size="btn--normal"
                    type="btn--primary">
                </app-button>
            </div>
    
        </div>
    
        <div class="findRol__mid">
            <div class="findRol__mid__up">

            </div>
            <div class="findRol__mid__down"></div>
        </div>
    
        <div class="findRol__illus">
            <div>
                <div class="findRol__illus__circle">
                    <div class="findRol__illus__circle--animation">
                        <div></div>
                    </div>
                    <img 
                        [@translateAnimation]="imgAnimation() ? 'disappear' : 'appear'"
                        [src]="imgRolPath()"
                        [alt]="roleAltImage()"
                        (load)="loadImg()">
                    <div class="findRol__illus__circle__text" [@fadeInAnimation]="fadeInAnimation() ? 'fadeIn' :  'fadeOut'">
                        <h3 class="findRol__illus__circle__text__name">{{champion().name}}</h3>
                        <p class="findRol__illus__circle__text__nickname">{{champion().nickName}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END FIND YOUR ROL SCREEN -->
<!-- LEGENDS LAND SCREEN -->
<section class="legendsLand">
    <div class="legendsLand__title" #legendsLand appTitleAppears>
        <h1>TIERRA DE LEGENDAS</h1>
    </div>
    <div class="legendsLand__body">
        <div class="legendsLand__body__img" appMoveDetection>
            <img src="assets/images/map.png" alt="mapa de league of legends">
        </div>
        <div class="legendsLand__body__content">
            <h2>PELEARAS TUS MEJORES BATALLAS AQUI</h2>
            <p>Los mejores jugadores son los que tienen una habilidad excepcional en el juego y estrategias aplastantes que no le dan al rival ninguna oportunidad.</p>
            <p>Explora un resumen de este popular juego.</p>
            <div class="legendsLand__body__content__button">
                <app-button
                    (click)="goTo('rules')"
                    text="EXPLÓRAME"
                    size="btn--normal"
                    type="btn--primary">
                </app-button>
            </div>
        </div>
    </div>
</section>
<!-- END LEGENDS LAND SCREEN -->
