@import 'variables';
@import 'animations';
@import 'mixins';

.main {
    position: relative;
    height: calc(100vh - 8rem);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $c-dark;
        opacity: 0;
        z-index: 1;
        animation-name: opacity;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    & video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 70%;
        
        h1, h2 {
            color: $c-light;
            text-align: center;
            opacity: 0;            
            animation-name: goingUp;
            animation-delay: .5s;
            animation-duration: .5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }

        &__button {
            width: 50%;
            opacity: 0;            
            animation-name: goingUp;
            animation-delay: 1s;
            animation-duration: .5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }

    }
}

.rules {
    @include css-grid(8rem 0 0 0);
    background-color: $c-dark;

    &__container {
        grid-column: content-start / content-end;
        grid-row: 1 / 2;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        background-image: url('/assets/images/map.png');
        background-size: 70%;
        background-attachment:fixed;
        background-position: 80% center;
        background-repeat: no-repeat;
        // transition: all ease 2s;

        &__left {
            width: 37%;

            &__item {
                color: $c-light; 
                margin-top: 2rem;
                margin-bottom: 20rem;
                p {
                    font-size: 1.6rem;
                    color: $c-gray;
                }

                &__header {
                    margin-bottom: 5rem;
                    padding: 3rem;

                    h2 {
                        margin-bottom: 2rem;
                    }
                }

                &__card {
                    width: 100%;
                    padding: 3rem;
                    border: .1rem solid $c-gray;

                    & h5 {
                        margin-bottom: 2rem;
                    }

                    & ul {
                        overflow: hidden;
                        white-space: nowrap;
                        margin-bottom: 4rem;
                        & li {
                            display: inline-block;
                            vertical-align: top;
                            white-space: normal;
                            width: 100%;
                            transition: transform .6s ease;
                            transform: translateX(0);

                        }
                    }
                    

                    &__page {
                        font-size: 1.4rem;
                        margin-bottom: 2rem;
                    }

                    &__buttons {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        div {
                            width: 40%;
                        }
                    }
                }
            }
        }

    }
}

.power {
    @include css-grid;

    &__header {
        grid-column: content-start / content-end;
        grid-row: 1 / 2;
        color: $c-primary-light;
        text-align: center;
        margin-bottom: 6rem;

        & p {
            font-size: 1.6rem;
            width: 60%;
            margin: 0 auto;
        }
    }

    &__body {
        grid-column: content-start / content-end;
        grid-row: 2 /3;
        display: flex;
        flex-wrap: wrap;
        border: .1rem solid $c-gray-darker;
        padding: 2rem;

        &__left {
            width: 65%;
            white-space: nowrap;
            overflow: hidden;

            & video, img {
                width: 100%;
                transition: transform .6s ease;
                transform: translateX(0);
            }
            & img {
                vertical-align: top;
            }
        }
        
        &__right {
            padding-left: 2rem;
            width: 35%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &__info {
                border-bottom: .1rem solid $c-gray;
                display: flex;
                padding: 2rem 0;

                &__icon {
                    & i {
                        margin-right: 1.5rem;
                        color: $c-primary;
                        cursor: pointer;
                    }
                }

                &__texto {
                    color: $c-primary-light;

                    & h5 {
                        cursor: pointer;
                    }
                    & p {
                        max-height: 0rem;
                        overflow: hidden;
                        transition: max-height .3s linear;
                        font-size: 1.6rem;
                        color: $c-gray-darker;
                    }
                }
            
            }
            
        }
    }

}

.p-fixed {
    background-attachment:fixed;
    background-position: 80% center;
}

.translateX {
    transform: translateX(-100%) !important;
}

.prueba {


}

.max-height {
    margin-top: 2rem;
    max-height: 6rem !important;
}