
<section class="champion">
    <div class="champion__main">
        <img class="champion__main__blur" [src]="champion?.imgSplash" alt="">
        <div class="champion__main__presentation">
            <img class="" [src]="champion?.imgSplash" alt="">
            <div class="champion__main__presentation__text">
                <h1>{{ champion?.name }}</h1>
                <h2> {{champion?.title}} </h2>
            </div>
        </div>

    </div>

    <div class="champion__description">
        <div class="champion__description__header">
            <div class="champion__description__header__img">
                <img [src]="champion?.imgSquare" alt="">
            </div>
        </div>
        <div class="champion__description__body">
            <div class="champion__description__body__text">
                <h2>INFORMACIÓN</h2>
                <div class="champion__description__body__text__chips">
                    <h4>TIPO DE CAMPEÓN</h4>
                    <div class="champion__description__body__text__chips__container">
                        <div
                            class="champion__description__body__text__chips__container__chip"
                            *ngFor="let rol of champion?.rolArray">
                            <span>{{rol}}</span>
                        </div>
                    </div>
                </div>
                <div class="champion__description__body__text__history">
                    <h4>HISTORIA</h4>
                    <p>{{champion?.lore}}</p>
                </div>

                <div class="champion__description__body__text__allyTips">
                    <h4>TIPS PARA USAR EL CAMPEÓN</h4>
                    <p *ngFor="let tip of champion?.allytips">{{tip}}</p>
                    <p *ngIf="champion?.allytips.length === 0">Nuestro expertos están trabajando para brindarte los mejor tips cuando usas a este campeón en partida.</p>
                </div>

                <div class="champion__description__body__text__enemyTips">
                    <h4>TIPS PARA DERROTAR EL CAMPEÓN</h4>
                    <p *ngFor="let tip of champion?.enemytips">{{tip}}</p>
                    <p *ngIf="champion?.enemytips.length === 0">Nuestro expertos están trabajando para brindarte los mejor tips cuando estas en contra de este campeón en partida.</p>

                </div>
                
            </div>
            <div class="champion__description__body__img">
                <img [src]="champion?.imgLoading" alt="">
            </div>
        </div>
    </div>

    <div class="champion__skills">
        <div class="champion__skills__container">
            <div class="champion__skills__container__imgs">
                <h2>HABILIDADES</h2>
                <div class="champion__skills__container__imgs__assets">
                    <div *ngFor="let skill of champion?.skills">
                        <input type="radio" name="championSkills" [formControl]="skillsControl" [id]="skill.name" [value]="skill.name">
                        <label [for]="skill.name">
                            <img class="champion__skills__container__imgs__assets__img" [src]="skill?.img" alt="">
                        </label>
                        <img class="champion__skills__container__imgs__assets__selector" [ngClass]="{'op-1': skill.checked}" src="assets/images/skills-selector.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="champion__skills__container__logo">
                <img src="assets/images/skills-symbol.svg" alt="">
            </div>
            <div class="champion__skills__container__description" [@fadeAnimation]="(prueba) ? 'fadeIn' : 'fadeOut'" #skillSelectedHtml>
            </div>

        </div>
    </div>

    <div class="champion__skins" style="height: 1000px; background-color: brown;"></div>
</section>


